.KotakUngu{
  width: 160px;
  height: 100px;
  background-color: purple;
  margin : 15px 0px 0px 0px;
  float : left;
}

.KotakOrange{
  width: 740px;
  height: 100px;
  background-color: #FFA500;
  margin : 15px 19px 0px 19px;
  float: left;
}

.KotakMerah{
  width: 1100px;
  height: 45px;
  background-color: #B22222;
  float : left;
  margin-top : 15px;
  margin-right : 5px;
}

.Kotak1{
  width: 160px;
  height: 490px;
  background-color: #14B38D;
  margin : 0px 0px 0px 0px;
}

.KotakHijau{
  width: 160px;
  height: 800px;
  margin : 0px 0px 0px 0px;
  float : left;
}

.KotakHijau1{
  width: 160px;
  height: 490px;
  background-color: #14B38D;
  margin : 15px 0px 0px 0px;
  float : left;
}

.KotakHijau2{
  width: 160px;
  height: 290px;
  background-color: #14B38D;
  margin : 16px 0px 0px 0px;
  float : left;
}

.Kotak{
  width: 780px;
  height: 720px;
  float: left;
  background-color : yellow;
}

.Kotak{
  width: 740px;
  height: 800px;
  background-color: black;
  margin : 13px 19px 0px 19px;
  float: left;
}

.Kotak1{
  width: 700px;
  height: 300px;
  background-color: #C0C0A0;
  margin: 18px;
  float: left;
}

.Kotak2{
  width: 210px;
  height: 120px;
  background-color: white;
  margin: 3px 15px 3px 19px;
  float: left;
}
.clear{
    content: '';
    clear: both;
}
.kotak-coklat{
    width: 1100px;
    height: 120px;
    margin : 15px 0px 0px 0px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.kotak-coklat .kotak-dalam-coklat{
    display: flex;
    align-items: center;
    width: 165px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: sandybrown;
}
.kotak-coklat .kotak-dalam-coklat:first-child {
  margin-left: 15px;
}
.kotak-coklat .kotak-dalam-coklat:last-child {
    margin-right: 15px;
}

.KotakAkhir{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1100px;
    height: 200px;
    background-color: #556b2f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kotak-akhir{
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  background-color: chartreuse;
  width: 235px;
}

.kotak-akhir:first-child {
  width: 345px;
  height: 80px;
  margin-left: 10px;
}

.kotak-akhir:last-child {
    margin-right: 10px;
}